* {
	box-sizing: border-box;
	outline: none;
	cursor: pointer;
}

body {
	background: #333;
 	background-size: cover;
 	font-family: 'Orbitron', sans-serif;
	height: 100%;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

/* Name Container */

.name-container {
	align-items: center;
	display: flex;
	justify-content: center;
	margin: 350px auto;
  	text-align: center;
  	width: 50%;
}

.name-container input {
	background: #333;
	border: none;
	border-bottom: 1px solid lime;
	color: lime;
	font-size: 25px;
	margin-right: 10px;
	padding: 5px;
}

.name-container button {
	background: #333;
	border: 1px solid rgba(28, 255, 28, 1);
	border-radius: 4px;
	color: rgba(28, 255, 28, 1);
	font-size: 25px;
	padding: 10px;
}

.name-container button:hover {
	background: rgba(28, 255, 28, .75);
	color: #333;
}

.name-container button:active {
	background: rgba(28, 255, 28, 1);
	border: 1px solid rgba(28, 255, 28, 1);
	color: #333;
}

/* Ready to play styles */

.ready-to-play {
	align-items: center;
	display: flex;
	justify-content: center;
	margin: 300px auto;
	padding: 0;
	text-align: center;
  	width: 50%;
}

.ready-to-play-wrapper {
	display: block;
	padding: 0;
	width: 100%;
}

.ready-to-play button {
	background: #333;
	border: 1px solid rgba(28, 255, 28, 1);
	border-radius: 4px;
	color: rgba(28, 255, 28, 1);
	display: block;
	font-size: 25px;
	margin: 0 auto;
	padding: 10px 40px;
}

.ready-to-play button:hover {
	background: rgba(28, 255, 28, .75);
	color: #333;
}

.ready-to-play button:active {
	background: rgba(28, 255, 28, 1);
	border: 1px solid rgba(28, 255, 28, 1);
	color: #333;
}

.ready-to-play h1 {
	color: #ddd;
	display: block;
	font-size: 60px;
	margin-top: 0;
}

/*									*/
/* Main Game Styles */
/*									*/

main {
	height: 100%;
	margin: 0;
	width: 100%;
}

nav {
	background: rgba(51, 51, 51, .3);
	height: 80px;
	margin: 0;
	text-align: center;
	width: 100%;
}

nav h1 {
	margin: 0;
}

.player {
	background: url("../images/characters/hero.png");
	background-size: 600px 300px;
	height: 300px;
	left: 10px;
	position: absolute;
	top: 300px;
	width: 600px;
}

.enemy {
	background: url("../images/characters/evil.png");
	background-size: 300px 385px;
	bottom: 200px;
	height: 385px;
	left: 950px;
	position: absolute;
	width: 300px;
}

.damage-container {
	display: block;
	margin: 0 auto;
	text-align: center;
	width: 400px;
}

.player-damage {
	color: #ff0aee;
	font-size: 50px;
	font-weight: 700;
}

.enemy-damage {
	color: red;
	font-size: 50px;
	font-weight: 700;
}

.title {
	color: #ff0aee;
	display: inline-block;
	font-size: 40px;
	letter-spacing: 1px;
	margin: 0 auto;
	padding-top: 15px;
	width: 100px;
}

 .save {
 	color: #ff0aee;
 	display: inline-block;
 	float: right;
 	height: 100px;
 	padding-top: 15px;
 	padding-right: 25px;
 }

.attack-bar {
	background: url("../images/textures/spell.jpg");
	border: 5px solid grey;
	border-radius: 3px;
	bottom: 0;
	display: block;
	height: 100px;
	left: 50%;
	position: fixed;
	transform: translateX(-50%);
	width: 565px;
}

.attack-btn {
	background: url("../images/attack/attack.png");
	background-size: 85px 85px;
	background-position: center;
	border: 3px solid #333;
	height: 90px;
	width: 90px;
}

.attack-btn:hover {
	border: 3px solid #555;
}

.countdown {
	color: #444;
	font-size: 44px;
	height: 90px;
	padding-top: 30px;
	position: absolute;
	text-align: center;
	width: 90px;
	z-index: 5;
}

.player-health-bar {
	background: green;
    border: 3px solid #333;
    border-radius: 30px;
    bottom: 100px;
	display: block;
	height: 50px;
	left: 35%;
	position: fixed;
	transform: translateX(-35%);
    width: 200px;
    text-align: center;
}

.player-health-bar p {
	display: inline-block;
}

.player-name {
    bottom: 150px;
	color: #ff0aee;
	display: block;
	height: 50px;
	left: 35%;
	position: fixed;
	transform: translateX(-35%);
    text-align: center;
    width: 200px;
}

.enemy-name {
	bottom: 150px;
	color: red;
	display: block;
	height: 50px;
	left: 65%;
	position: fixed;
 	text-align: center;
	transform: translateX(-65%);
    width: 200px;
}

.enemy-health-bar{
	background: #ff4040;
    border: 3px solid #333;
    border-radius: 30px;
	bottom: 100px;
	display: block;
	height: 50px;
	left: 65%;
	position: fixed;
    text-align: center;
    transform: translateX(-65%);
    width: 200px;
}

.enemy-health-bar p {
	display: inline-block;
}

.winText {
	font-size: 50px;
}

.xpText {
	font-size: 50px;
	color: #ff0aee;
}

.save p {
	padding-bottom: 10px;
}

.save p:hover {
	border-bottom: 2px solid #ff0aee;
}

.level-container {
	float: right;
	padding-top: 10px;
	text-align: center;
	width: 200px;
}

.level-container p {
	display: block;
	margin: 15px 10px;
}

.play-again-btn {
	background: transparent;
	border: 1px solid #ff0aee;
	border-radius: 4px;	
	color: #ff0aee;
	font-size: 25px;
	padding: 10px;
}

/* 	Hidden and grey out styles  */

.hidden-div {
	display: none;
}

.show-div {
	display: flex;
}

.show-countdown {
	display: block;
}

.grey-out {
	filter: alpha(opacity=40);
	opacity: 0.4;
}
